<p>
  Nuestro objetivo es brindar productos de altísima calidad que mediante sabores
  transporten a nuestros clientes hacia los Alpes suizos. Siguiendo el ejemplo
  de mis padres, quienes en el año 1968 llegaron de Suiza para abrir una
  confitería de excelencia en Martinez, decidí abrir Memé de Santis. En este
  emprendimiento, me propuse ensamblar los postres típicos Suizos con los
  sabores tradicionales Argentinos. Es así como en Memé de Santis te podes
  encontrar tanto con una tarta de kirsch o un delicioso rogel.
</p>
<p>
  Desde muy pequeño he ayudado a mi padre en la producción, llenándome de
  conocimientos y desarrollando una gran pasión por la pastelería. A los 18 años
  decidí ir a Suiza para estudiar pastelería y convertirme en un experto. Tras
  pasar más de una década allí, decidí volver a la Argentina, para estar más
  cerca de mi familia y mediante mis postres, brindarle a Buenos Aires, un
  pedacito de Suiza.
</p>
