<div class="card product-card" style="width: 18rem">
  <img
    src="<%- product.image %>"
    class="card-img-top"
    alt="<%-
  product.imageAlt %>"
  />
  <div class="card-body">
    <h5 class="card-title"><%- product.name%></h5>

    <div class="card-text"><%- product.description %></div>
  </div>
</div>
