<div class="card product-card mb-5" style="width: 18rem">
  <div class="product-card-img">
    <img
      src="<%- product.image %>"
      class="card-img-top"
      alt="<%-
  product.imageAlt %>"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title"><%- product.name%></h5>

    <div class="card-text"><%- product.description %></div>
  </div>
</div>
