footer {
  background-color: var(--main-color);
  background-image: repeating-linear-gradient(
    90deg,
    var(--main-color) 0px,
    var(--main-color) 20px,
    rgb(70, 62, 62) 20px,
    rgb(70, 62, 62) 20px
  );
  opacity: 0.9;
  min-height: 30vh;
  padding-top: 20px;
  line-height: 30px;
}
