.header-image {
  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(42, 165, 165, 0.3),
      rgba(42, 165, 165, 0.3)
    ),
    url("../images/cinnamon-stars-2991174.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  line-height: 100vh;
  text-align: center;
  padding: 150px;
}

@media only screen and (max-width: 1024px) {
  .header-image {
    min-height: 40vh;
  }
}

@media only screen and (max-width: 768px) {
  .header-image {
    min-height: 17vh;
  }
}

.header-content {
  padding: 10px 15px;
  width: 50vw;
  margin: auto;
}

.header-content img {
  width: 100%;
}

.scrolled {
  background-color: var(--main-color);
  opacity: 0.9;
  transition: 2s;
}

nav {
  visibility: hidden;
}

nav img {
  width: 150px;
}

.scrolled,
.scrolled img {
  visibility: visible;
}

.unscrolled,
.unscrolled img {
  visibility: hidden;
  transition: 0.5s;
}

.navcss {
  font-size: 1.3rem;
}
