:root {
  --main-color: rgb(128, 97, 69);
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.intersections-image {
  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.2),
      rgba(128, 97, 69, 0.5)
    ),
    url("../images/pexels-artem-beliaikin-2872882-min.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  line-height: 100vh;
  text-align: center;
  padding: 150px;
}
